<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List Detail</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>{{ todo_list.name }}</h1>
      <p><a href="{% url 'todo_list_edit' todo_list.pk %}">Edit</a></p>
      <p><a href="{% url 'todo_list_delete' todo_list.pk %}">Delete</a></p>
      <h2>Tasks:</h2>
      <table>
        <tr>
          <th>Task</th>
          <th>Due date</th>
        </tr>

        {% for todo_item in todo_list.items.all %}
        <tr>
          <td>
            <a href="{% url 'todo_item_edit' todo_item.pk %}"
              >{{ todo_item.task }}</a
            >
          </td>
          <td>{{ todo_item.due_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
